@font-face {
	font-family: "nexa";
	src: url("fonts/NexaRustSans-Black.otf");
}
@font-face {
	font-family: "raleway";
	src: url("fonts/Raleway-Regular.ttf");
}
$dark-blue: #013738;
$bold: "nexa",
"Arial Black",
Gadget,
sans-serif;
$sans-serif: "raleway",
Arial,
Helvetica,
sans-serif;
$padding: 10px;
$headline-size: 1.4em;
$gray: #EDEDED;
$status-bar-height: 20px;
$field-height: 30px;
$copy-font-size: 1.3em;
$button-width: 150px;
body {
	margin: 0px;
}
.infoBar {
	background-color: $gray;
	width: 100%;
	height: $status-bar-height;
	position: fixed;
	margin: 0px;
	z-index: 99999;
}
.header {
	font-family: $bold;
	font-size: $headline-size;
}
p {
	font-family: $sans-serif;
	margin: 0;
	font-size: $copy-font-size;
}
input,
button,
button:active {
	box-shadow: none;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: rgba(1, 1, 1, 0);
	-webkit-tap-highlight-color: transparent;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	background-color: inherit;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	letter-spacing: inherit;
}
body .dark {
	background-color: $dark-blue;
	width: 100%;
	height: 100%;
	position: fixed;
}
#login {
	background-color: white;
	width: 300px;
	height: 450px;
	margin-left: auto;
	margin-right: auto;
	padding: $padding;
	margin-top: 105px;
	position: static;
	.fa {
		margin-top: $field-height * -1;
		font-size: $copy-font-size;
		line-height: $field-height;
		padding-left: $padding / 2;
		color: #95989A;
	}
}
#loginHeader {
	width: 200px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	margin-top: 65px;
	margin-bottom: 30px;
	.header {
		text-align: left;
	}
	img {
		width: 80px;
		height: 80px;
		min-width: 80px;
		min-height: 80px;
		padding-right: $padding;
	}
	.header,
	img {
		display: inline-block;
	}
}
.field {
	margin-top: $padding;
}
input {
	background-color: $gray;
	width: 100%;
	height: $field-height;
	font-size: $copy-font-size;
	line-height: $field-height - .2;
	font-family: $sans-serif;
	padding-left: 35px;
}
.button {
	width: $button-width;
	background-color: #25CED1;
	color: white;
	font-family: $bold;
	margin: $padding;
	text-align: center;
	padding: $padding;
	font-size: $copy-font-size;
	letter-spacing: 1px;
}
#login .button {
	width: $button-width * 1.5;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}
