@font-face {
	font-family: "nexa";
	src: url("fonts/NexaRustSans-Black.otf");
}
@font-face {
	font-family: "raleway";
	src: url("fonts/Raleway-Regular.ttf");
}
$dark-blue: #013738;
$bold: "nexa",
"Arial Black",
Gadget,
sans-serif;
$sans-serif: "raleway",
Arial,
Helvetica,
sans-serif;
$padding: 10px;
$gray: #EDEDED;
$red: #EF6461;
$light-blue: #25CED1;
$status-bar-height: 20px;
$field-height: 30px;
$copy-font-size: 1.3em;
$subhead-font-size: 1.4em;
$headline-font-size: 1.6em;
$button-width: 150px;
$icon-size: 2.5em;
body {
	margin: 0px;
}
.hide {
	display: none;
}
.show {
	display: block;
}
.centerContainer {
	margin-left: auto;
	margin-right: auto;
}
#infoBar {
	background-color: $gray;
	width: 100%;
	height: $status-bar-height;
	position: fixed;
	margin: 0px;
	top: 0px !IMPORTANT;
	z-index: 99999;
}
.header {
	font-family: $bold;
	font-size: $subhead-font-size;
}
p {
	font-family: $sans-serif;
	margin: 0;
	font-size: $copy-font-size;
}
input,
textarea,
button,
button:active {
	box-shadow: none;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: rgba(1, 1, 1, 0);
	-webkit-tap-highlight-color: transparent;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	background-color: inherit;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	letter-spacing: inherit;
}
a:-webkit-any-link {
	color: inherit;
	text-decoration: none !IMPORTANT;
}
body .dark {
	background-color: $dark-blue;
	width: 100%;
	height: 100%;
	position: fixed;
}
#login {
	background-color: white;
	width: 300px;
	height: 550px;
	margin-left: auto;
	margin-right: auto;
	padding: $padding;
	margin-top: 60px;
	position: static;
	z-index: -999;
}
.form {
	.fa {
		margin-top: $field-height * -1;
		font-size: $copy-font-size;
		line-height: $field-height;
		padding-left: $padding / 2;
		color: #95989A;
	}
}
#loginHeader {
	width: 200px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	margin-top: 40px;
	margin-bottom: 30px;
	.header {
		text-align: left;
	}
	img {
		width: 80px;
		height: 80px;
		min-width: 80px;
		min-height: 80px;
		padding-right: $padding;
	}
	.header,
	img {
		display: inline-block;
	}
}
.field {
	margin-top: $padding;
}
input,
textarea {
	background-color: $gray;
	width: 100%;
	height: $field-height;
	font-size: $copy-font-size;
	line-height: $field-height - .2;
	font-family: $sans-serif;
	padding-left: 35px;
}
.button {
	width: $button-width;
	background-color: #25CED1;
	color: white;
	font-family: $bold;
	margin: $padding;
	text-align: center;
	padding: $padding;
	font-size: $copy-font-size;
	letter-spacing: 1px;
}
#login .button {
	width: $button-width * 1.5;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}
.other p {
	text-align: center;
	color: $red;
	font-size: $copy-font-size / 1.5;
}
.title,
#nav {
	width: 100%;
	background-color: $dark-blue;
	padding: $padding;
	font-family: $bold;
	text-align: center;
}
.title {
	top: $status-bar-height;
	font-size: $headline-font-size;
	color: white;
	position: fixed;
	padding-top: $padding * 1.5;
	padding-bottom: $padding * 1.5;
}
#nav {
	padding: 0;
	position: fixed;
	bottom: 0px;
	color: white;
	font-size: $icon-size;
	text-align: center;
	i {
		padding-top: $padding;
		padding-bottom: $padding;
		padding-left: $padding * 2.2;
		padding-right: $padding * 2.2;
	}
	.active {
		color: $red;
	}
}
#feed {
	background-color: white;
	margin-top: 90px;
}
.post {
	padding: $padding;
}
.postTitle {
	font-family: $bold;
	font-size: $headline-font-size;
}
.postUser {
	color: $light-blue;
	font-size: $copy-font-size;
	font-family: $sans-serif;
}
.postDesc {
	font-family: $sans-serif;
	font-size: $copy-font-size;
	margin-top: $padding / 2;
}
.postInfo {
	width: 100%;
	background-color: $gray;
	text-align: center;
	font-family: $sans-serif;
	font-size: $copy-font-size / 1.2;
	margin-top: $padding;
}
.date,
.time,
.location {
	display: inline-block;
	padding-left: $padding * 2;
	padding-right: $padding * 2;
	padding-top: $padding / 2;
	padding-bottom: $padding / 2;
}
#btnCreateEvent {
	background-color: $light-blue;
	position: fixed;
	bottom: 75px;
	right: 15px;
	z-index: 9999;
	padding: $padding * 2;
	border-radius: 50%;
	font-size: $headline-font-size * 2;
	color: white;
}
#createEventForm {
	width: 300px;
	height: 550px;
	padding: $padding * 2;
	position: fixed;
	z-index: 9999999;
	background-color: white;
	top: 50;
	left: 17;
	.windowTitle {
		color: $light-blue;
		font-size: $headline-font-size;
		text-align: center;
		font-family: $bold;
		margin-bottom: $padding * 2;
		margin-top: 10px;
	}
	#txtMessage {
		height: $field-height * 3;
	}
	.fa-comment-o {
		position: fixed;
		z-index: 999999999;
		margin-top: 0px;
	}
	.button {
		width: 90%;
		margin-top: $padding * 3;
	}
	.other {
		margin-top: 0px;
		p {
			margin-top: 0px;
		}
	}
}
#btnCloseEvent {
	color: $dark-blue;
	margin-left: -10px;
	font-size: $subhead-font-size;
	margin-top: 50px;
}
#createAccountWindow {
	background-color: white;
	padding: $padding;
	width: 300px;
	height: 550px;
	margin-left: -10px;
	position: fixed;
	top: 60;
	p {
		margin-top: 150px;
	}
}
.blackout {
	width: 100%;
	height: 100%;
	margin: 0;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
}
