@font-face {
  font-family: "nexa";
  src: url("fonts/NexaRustSans-Black.otf"); }
@font-face {
  font-family: "raleway";
  src: url("fonts/Raleway-Regular.ttf"); }
body {
  margin: 0px; }

.hide {
  display: none; }

.show {
  display: block; }

.centerContainer {
  margin-left: auto;
  margin-right: auto; }

#infoBar {
  background-color: #EDEDED;
  width: 100%;
  height: 20px;
  position: fixed;
  margin: 0px;
  top: 0px !IMPORTANT;
  z-index: 99999; }

.header {
  font-family: "nexa", "Arial Black", Gadget, sans-serif;
  font-size: 1.4em; }

p {
  font-family: "raleway", Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 1.3em; }

input,
textarea,
button,
button:active {
  box-shadow: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: rgba(1, 1, 1, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  letter-spacing: inherit; }

a:-webkit-any-link {
  color: inherit;
  text-decoration: none !IMPORTANT; }

body .dark {
  background-color: #013738;
  width: 100%;
  height: 100%;
  position: fixed; }

#login {
  background-color: white;
  width: 300px;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin-top: 60px;
  position: static;
  z-index: -999; }

.form .fa {
  margin-top: -30px;
  font-size: 1.3em;
  line-height: 30px;
  padding-left: 5px;
  color: #95989A; }

#loginHeader {
  width: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 30px; }
  #loginHeader .header {
    text-align: left; }
  #loginHeader img {
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;
    padding-right: 10px; }
  #loginHeader .header,
  #loginHeader img {
    display: inline-block; }

.field {
  margin-top: 10px; }

input,
textarea {
  background-color: #EDEDED;
  width: 100%;
  height: 30px;
  font-size: 1.3em;
  line-height: 29.8px;
  font-family: "raleway", Arial, Helvetica, sans-serif;
  padding-left: 35px; }

.button {
  width: 150px;
  background-color: #25CED1;
  color: white;
  font-family: "nexa", "Arial Black", Gadget, sans-serif;
  margin: 10px;
  text-align: center;
  padding: 10px;
  font-size: 1.3em;
  letter-spacing: 1px; }

#login .button {
  width: 225px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px; }

.other p {
  text-align: center;
  color: #EF6461;
  font-size: 0.86667em; }

.title,
#nav {
  width: 100%;
  background-color: #013738;
  padding: 10px;
  font-family: "nexa", "Arial Black", Gadget, sans-serif;
  text-align: center; }

.title {
  top: 20px;
  font-size: 1.6em;
  color: white;
  position: fixed;
  padding-top: 15px;
  padding-bottom: 15px; }

#nav {
  padding: 0;
  position: fixed;
  bottom: 0px;
  color: white;
  font-size: 2.5em;
  text-align: center; }
  #nav i {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 22px;
    padding-right: 22px; }
  #nav .active {
    color: #EF6461; }

#feed {
  background-color: white;
  margin-top: 90px; }

.post {
  padding: 10px; }

.postTitle {
  font-family: "nexa", "Arial Black", Gadget, sans-serif;
  font-size: 1.6em; }

.postUser {
  color: #25CED1;
  font-size: 1.3em;
  font-family: "raleway", Arial, Helvetica, sans-serif; }

.postDesc {
  font-family: "raleway", Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  margin-top: 5px; }

.postInfo {
  width: 100%;
  background-color: #EDEDED;
  text-align: center;
  font-family: "raleway", Arial, Helvetica, sans-serif;
  font-size: 1.08333em;
  margin-top: 10px; }

.date,
.time,
.location {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px; }

#btnCreateEvent {
  background-color: #25CED1;
  position: fixed;
  bottom: 75px;
  right: 15px;
  z-index: 9999;
  padding: 20px;
  border-radius: 50%;
  font-size: 3.2em;
  color: white; }

#createEventForm {
  width: 300px;
  height: 550px;
  padding: 20px;
  position: fixed;
  z-index: 9999999;
  background-color: white;
  top: 50;
  left: 17; }
  #createEventForm .windowTitle {
    color: #25CED1;
    font-size: 1.6em;
    text-align: center;
    font-family: "nexa", "Arial Black", Gadget, sans-serif;
    margin-bottom: 20px;
    margin-top: 10px; }
  #createEventForm #txtMessage {
    height: 90px; }
  #createEventForm .fa-comment-o {
    position: fixed;
    z-index: 999999999;
    margin-top: 0px; }
  #createEventForm .button {
    width: 90%;
    margin-top: 30px; }
  #createEventForm .other {
    margin-top: 0px; }
    #createEventForm .other p {
      margin-top: 0px; }

#btnCloseEvent {
  color: #013738;
  margin-left: -10px;
  font-size: 1.4em;
  margin-top: 50px; }

#createAccountWindow {
  background-color: white;
  padding: 10px;
  width: 300px;
  height: 550px;
  margin-left: -10px;
  position: fixed;
  top: 60; }
  #createAccountWindow p {
    margin-top: 150px; }

.blackout {
  width: 100%;
  height: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5); }

/*# sourceMappingURL=styles.css.map */
